<div class="text-center">
  <h2>タープとテントの総設置面積</h2>
  <p><%= @total_area %> m²</p>
</div>
  <div class="text-center">
    <% @gears.each do |gear| %>
      <hr class="my-2 custom-hr">
      <div class="row">
        <div class="col-md-6">ギアの種類</div>
        <div class="col-md-6"><%= gear.gear_type %></div>
      </div>
      <div class="row">
        <div class="col-md-6">ギアの名前</div>
        <div class="col-md-6"><%= gear.name %></div>
      </div>
      <div class="row">
        <div class="col-md-6">所有者</div>
        <div class="col-md-6"><%= gear.users.map(&:name).join(", ") %></div>
      </div>
      <div class="row">
        <div class="col-md-6">サイズ (m²)</div>
        <div class="col-md-6"><%= gear.length * gear.width %></div>
      </div>
    <% end %>
  </div>
