<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <h2><%= pluralize(@user.errors.count, "件のエラー") %>があります:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="app-description">
  <%= form_with model: @user do |f| %>
    <div class="field">
      <%= f.label :名前 %><br />
      <%= f.text_field :name %>
    </div>
   
    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :パスワード %><br />
        <small class="form-text text-muted">
          ※ パスワードは8~20文字、英字と数字を含めてください。<br />
        </small>
      
        <%= f.password_field :password %>
    </div>

    

    <div class="field">
      <%= f.label :パスワード確認 %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <br />

    <div class="actions">
      <%= f.submit "新規ユーザー登録", class: "btn btn-primary" %>
    </div>
  <% end %>
  <br />
  <%= link_to auth_at_provider_path(:provider => :line) do %>
    <%= image_tag 'line_login_base.png' %>
  <% end %>
</div>