<div class="app-description">
  <%= form_with model: @user do |f| %>
    <div class="field">
      <%= f.label :名前 %><br />
      <%= f.text_field :name %>
    </div>
   
    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :パスワード確認 %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <br />

    <div class="actions">
      <%= f.submit "新規ユーザー登録", class: "btn btn-primary" %>
    </div>
  <% end %>
  <br />
  <%= link_to 'Login with LINE', auth_at_provider_path(:provider => :line), class: "btn btn-success" %>
</div>