<h1>新しい予定を作成</h1>

<%= form_with model: [@group, @schedule], local: true do |form| %>
  <div>
    <%= form.label :name, '予定名' %>
    <%= form.text_field :name %>
  </div>
  
  <div>
    <%= form.label :scheduled_at, '予定日時' %>
    <%= form.datetime_select :scheduled_at %>
  </div>
  
  <div>
    <%= form.submit '作成' %>
  </div>
<% end %>