<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="w-50 text-center"> 
  <h1 class="mb-4 title">グループ基本情報の編集</h1>
    <%= form_with model: [@information.group, @information], local: true do |f| %>
      <div class='mb-3'>
        <%= f.label :start_day, '出発日', class: 'form-label d-block' %> <!-- ラベルを中央揃え -->
        <div class="d-flex justify-content-center">
          <%= f.date_select :start_day, class: 'form-control', style: "max-width: 300px;" %>
        </div>
      </div>
    
      <div class='mb-3'>
        <%= f.label :finish_day, '終了日', class: 'form-label d-block' %>
        <div class="d-flex justify-content-center">
          <%= f.date_select :finish_day, class: 'form-control', style: "max-width: 300px;" %>
        </div>
      </div>
    
      <div class='mb-3'>
        <%= f.label :camp_site_name, 'キャンプ場名', class: 'form-label d-block' %>
        <div class="d-flex justify-content-center">
          <%= f.text_field :camp_site_name, class: 'form-control', style: "max-width: 300px;" %>
        </div>
      </div>
    
      <div class='mb-3'>
        <%= f.label :camp_site_address, 'キャンプ場住所', class: 'form-label d-block' %>
        <div class="d-flex justify-content-center">
          <%= f.text_field :camp_site_address, class: 'form-control', style: "max-width: 300px;" %>
        </div>
      </div>

      <div class='mb-3'>
        <%= f.label :camp_site_url, 'URL', class: 'form-label d-block' %>
        <div class="d-flex justify-content-center">
          <%= f.text_field :camp_site_url, class: 'form-control', style: "max-width: 300px;" %>
        </div>
      </div>

      <div class='mb-3'>
        <%= f.label :car, '車台数', class: 'form-label d-block' %>
        <div class="d-flex justify-content-center">
          <%= f.text_field :car, class: 'form-control', style: "max-width: 300px;" %>
        </div>
      </div>

      <div class='mb-3'>
        <%= f.label :start_point, '出発地点', class: 'form-label d-block' %>
        <div class="d-flex justify-content-center">
          <%= f.text_field :start_point, class: 'form-control', style: "max-width: 300px;" %>
        </div>
      </div>

      <div class='mb-3'>
        <%= f.label :check_in, 'チェックイン日時', class: 'form-label d-block' %>
        <div class="d-flex justify-content-center align-items-center">
          <%= f.datetime_select :check_in, class: 'form-control', style: "max-width: 300px;" %>
        </div>
      </div>

      <div class='mb-3'>
        <%= f.label :check_out, 'チェックアウト', class: 'form-label d-block' %>
        <div class="d-flex justify-content-center align-items-center">
          <%= f.datetime_select :check_out, class: 'form-control', style: "max-width: 300px;" %>
        </div>
      </div>
    
      <div class="text-center">
        <%= f.submit '保存', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
