<p>基本情報</p>
<%= @group.name %>

<% if @information.present? %>
  <p>日程: <%= "#{@information.start_day} ~ #{@information.finish_day}" %></p>
  <p>キャンプ場名: <%= @information.camp_site_name %></p>
  <p>住所: <%= @information.camp_site_address %></p>
  <p>キャンプ場URL: <%= @information.camp_site_url %></p>
  <p>車台数: <%= @information.car %></p>
  <p>出発地点: <%= @information.start_point %></p>
  <p>チェックイン: <%= @information.check_in %></p>
  <p>チェックアウト: <%= @information.check_out %></p>
  <%= link_to '編集', edit_group_information_path(@group, @information) %>
<% else %>
  <p>関連する情報が登録されていません。</p>
<% end %>


<%= link_to '登録', new_group_information_path(@group) %>
