
<% if @information.present? %>
  <div class="text-center">
    <hr class="my-2 custom-hr">
    <div class="row custom-row">
      <div class="col-md-6">日程</div>
      <div class="col-md-6"><%= "#{@information.start_day} ~ #{@information.finish_day}" %></div>
    </div>

<!-- カレンダーを追加 -->
    <div class="calendar-container">
      <%= month_calendar(events: Array(@information), attribute: :start_day) do |date, informations| %>
        <div class="day <%= 'special-day' if informations.any? { |info| info.start_day.to_date == date } %>">
          <%= date.day %>

          <% informations.each do |info| %>
            <% if info.start_day.present? && date == info.start_day.to_date %>
              <div class="event">
                出発日
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <hr class="my-2 custom-hr">

    <div class="row custom-row">
      <div class="col-md-6">キャンプ場名</div>
      <div class="col-md-6"><%= @information.camp_site_name %></div>
    </div>

    <hr class="my-2 custom-hr">

    <div class="row custom-map-row">
      <div class="col-md-6">
        <div>キャンプ場住所</div>
        <div><%= @information.camp_site_address %></div>
      </div>

      <!-- Googleマップ -->
      <div class="col-md-6">
        <div id="map" 
          data-latitude="<%= @information.latitude %>" 
          data-longitude="<%= @information.longitude %>">
        </div>
      </div>
    </div>

    <hr class="my-2 custom-hr">

    <div class="row custom-row">
      <div class="col-md-6">キャンプ場URL</div>
      <div class="col-md-6"><%= @information.camp_site_url %></div>
    </div>

    <hr class="my-2 custom-hr">


    <div class="row custom-row">
      <div class="col-md-6">車台数</div>
      <div class="col-md-6"><%= @information.car %></div>
    </div>

    <hr class="my-2 custom-hr">

    <div class="row custom-row">
      <div class="col-md-6">出発地点</div>
      <div class="col-md-6"><%= @information.start_point %></div>
    </div>

    <hr class="my-2 custom-hr">

    <div class="row custom-row">
      <div class="col-md-6">チェックイン</div>
      <%= @information.check_in.present? ? @information.check_in.strftime("%Y-%m-%d %H:%M:%S") : "未設定" %>
    </div>

    <hr class="my-2 custom-hr">

    <div class="row custom-row">
      <div class="col-md-6">チェックアウト</div>
      <%= @information.check_in.present? ? @information.check_in.strftime("%Y-%m-%d %H:%M:%S") : "未設定" %>
    </div>

    <hr class="my-2 custom-hr">
    <div class="row justify-content-center">
      <div class="col-auto">
        <%= link_to '編集', edit_group_information_path(@group, @information), class: "btn btn-primary me-2" %>
        
      </div>
    </div>
  </div>
<% else %>
  <p>関連する情報が登録されていません。</p>
<% end %>
<%= link_to '登録', new_group_information_path(@group), class: "btn btn-success" %>


<style>
  #map {
    width: 200px;
    height: 200px;
  }
  @media (max-width: 768px) {
    #map {
      height: 300px;
    }
  }
</style>

<script>
let map;
let geocoder;

function initMap() {
  geocoder = new google.maps.Geocoder();

  let latitude = parseFloat(document.getElementById('map').dataset.latitude);
  let longitude = parseFloat(document.getElementById('map').dataset.longitude);

  map = new google.maps.Map(document.getElementById('map'), {
    center: { lat: latitude, lng: longitude },
    zoom: 12,
    mapId: "16f4b8039d9f38fe"
  });

  marker = new google.maps.marker.AdvancedMarkerElement({
    map: map,
    position: { lat: latitude, lng: longitude }
  });
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google, :api_key) %>&callback=initMap&loading=async&libraries=marker" async defer></script>
