<%= form_with model: @information, url: group_informations_path do |f| %>
    <div class='mb-3'>
    <%= f.label :start_day, '出発日' %>
    <%= f.date_select :start_day, class: 'form-control' %>
  </div>
  
    <div class='mb-3'>
      <%= f.label :finish_day, '終了日' %>
      <%= f.date_select :finish_day, class: 'form-control' %>
    </div>
  
    <div class='mb-3'>
      <%= f.label :camp_site_name, 'キャンプ場名' %>
      <%= f.text_field :camp_site_name, class: 'form-control' %>
    </div>
  
    <div class='mb-3'>
      <%= f.label :camp_site_address, 'キャンプ場住所' %>
      <%= f.text_field :camp_site_address,  class: 'form-control' %>
    </div>

    <div class='mb-3'>
      <%= f.label :camp_site_url, 'URL' %>
      <%= f.text_field :camp_site_url, class: 'form-control' %>
    </div>

    <div class='mb-3'>
      <%= f.label :car, '車台数' %>
      <%= f.text_field :car, class: 'form-control' %>
    </div>

    <div class='mb-3'>
      <%= f.label :start_point, '出発地点' %>
      <%= f.text_field :start_point, class: 'form-control' %>
    </div>

    <div class='mb-3'>
      <%= f.label :heck_in, 'チェックイン日時' %>
      <%= f.datetime_select :check_in, class: 'form-control' %>
    </div>

    <div class='mb-3'>
      <%= f.label :check_out, 'チェックアウト' %>
      <%= f.datetime_select :check_out, class: 'form-control' %>
    </div>
  
    <%= f.submit '保存', class: 'btn btn-primary' %>
  <% end %>