<h1>キャンプギア一覧</h1>

  <ul>
    <% @gears.each do |gear| %>
      <li>
        <%= gear.gear_type %>
        <%= gear.name %>
        <%= gear.length %>
        <%= gear.width %>
        <%= link_to '編集', edit_gear_path(gear) %>
        <%= link_to '削除', gear, data: { turbo_method: :delete} %>

      </li>
    <% end %>
  </ul>
    <%= link_to 'キャンプギア登録', new_gear_path %>
