<h2>投票結果</h2>

<p>投票開始日時: <%= @group.voting_start_at&.strftime('%Y-%m-%d %H:%M') %></p>
<p>投票終了日時: <%= @group.voting_end_at&.strftime('%Y-%m-%d %H:%M') %></p>

<% if @top_voted_post.present? %>
  <p>最も投票数が多かった候補地:</p>
  <p>キャンプ場名: <%= @top_voted_post.camp_site_name %></p>
  <p>候補地住所: <%= @top_voted_post.camp_site_address %></p>
  <p>候補地URL: <%= @top_voted_post.camp_site_url %></p>
  <p>アピールポイント: <%= @top_voted_post.text %></p>
  <p>投票数: <%= @top_voted_post.votes.count %></p>
<% else %>
  <% if @group.voting_active? %>
    <p>投票期間中です。結果は投票終了後に表示されます。</p>
  <% else %>
    <p>投票期間が設定されていません。</p>
  <% end %>
<% end %>
<%= link_to '投票期間を設定', set_voting_period_group_path(@group), class: 'btn btn-primary' %>

<h3>候補地一覧</h3>
<% if @post.present? %>
  <% @post.each do |post| %>
    <p>キャンプ場名: <%= post.camp_site_name %></p>
    <p>候補地住所: <%= post.camp_site_address %></p>
    <p>候補地URL: <%= post.camp_site_url %></p>
    <p>アピールポイント: <%= post.text %></p>
    <p>投票数: <%= post.votes.count %></p> <!-- 投票数の表示 -->
    
    <% if post.votes.exists?(user: current_user) %>
      <!-- 投票済みの場合 -->
      <%= button_to '投票を取り消す', group_post_vote_path(@group, post, post.votes.find_by(user: current_user)), method: :delete, class: "btn btn-danger" %>
    <% else %>
      <!-- 未投票の場合 -->
      <%= button_to '投票する', group_post_votes_path(@group, post), method: :post, class: "btn btn-primary" %>
    <% end %>
    <hr>
  <% end %>
<% else %>
  <p>候補地はまだありません。</p>
<% end %>

<%= link_to '登録', new_group_post_path(@group), class: "btn btn-success" %>
