<div class="text-center">
  <%= form_with model: @post, url: group_posts_path, class: 'mx-auto compact-form' do |f| %>
    <div class='mb-3'>
      <%= f.label :camp_site_name, 'キャンプ場名', class: 'form-label' %>
      <%= f.text_field :camp_site_name, class: 'form-control small-input' %>
    </div>

    <div class='mb-3'>
      <%= f.label :camp_site_address, 'キャンプ場住所', class: 'form-label' %>
      <%= f.text_field :camp_site_address, class: 'form-control small-input' %>
    </div>

    <div class='mb-3'>
      <%= f.label :camp_site_url, '候補地URL', class: 'form-label' %>
      <%= f.text_field :camp_site_url, class: 'form-control small-input' %>
    </div>

    <div class='mb-3'>
      <%= f.label :text, 'アピールポイント', class: 'form-label' %>
      <%= f.text_field :text, class: 'form-control small-input' %>
    </div>

    <%= f.submit '保存', class: 'btn btn-primary w-100' %>
  <% end %>
</div>