<!DOCTYPE html>
<html>
  <header class="d-flex justify-content-between align-items-center p-3">
    <div class="header-left"></div>
    <h1 class="h3 m-0">
      <%= link_to 'Camplan', root_path, class: 'text-black' %>
    </h1>

    <div>
      <% if current_user.present? %>
        <%= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-danger btn-sm' %>
        <%= link_to 'マイページ', user_path(id: current_user), class: 'btn btn-outline-primary btn-sm' %>
      <% else %>
        <%= link_to 'ログイン', login_path, class: 'btn btn-primary btn-sm' %>
        <%= link_to 'サインアップ', new_user_path, class: 'btn btn-primary btn-sm' %>
      <% end %>
    </div>
</header>
  <head>
    <div class="container d-flex justify-content-between align-items-center">
      
      <nav>
        
      </nav>
    </div>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body>
    <body class="<%= controller_name %>-<%= action_name %>">
    <%= yield %>
  </body>

  <footer class="bg-dark text-white text-center py-3">
    <div class="container">
      <p>&copy; <%= Time.now.year %> Camplan. All rights reserved.</p>
      <nav>
        <%= link_to '利用規約', terms_path, class: 'text-white me-3' %>
        <%= link_to 'プライバシーポリシー', privacies_path, class: 'text-white me-3' %>
      </nav>
    </div>
  </footer>
</html>
